# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Go Quick Import'
      'submenu': [
        {
          'label': 'Show'
          'command': 'go-quick-import:trigger'
        }
        {
          'label': 'Refresh'
          'command': 'go-quick-import:refresh'
        }
      ]
    ]
  }
]
